@using System.Data
@model System.Data.DataTable
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <form method="post" name="Display">
            <h2>Home Page</h2>
            <br />
            @Html.ActionLink("Add New Book", "Insert")
            @Html.ActionLink("Show Authors", "Authors")
            @{ if (Model.Rows.Count > 0)
                {
    <br /><br />
                    <table border="1">
                        <thead>
                            <tr>
                                <td>Book Id</td>
                                <td>Title Book</td>
                                <td>Author Name</td>
                                <td>Price</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        @foreach (DataRow dr in Model.Rows)
                        {
        <tr>
            <td>@dr["BookId"].ToString()</td>
            <td>@dr["Title"].ToString()</td>
            <td>@dr["AuthorName"].ToString()</td>
            <td>@dr["Price"].ToString()</td>
            <td>
                @Html.ActionLink("Delete Book", "Delete", new { BookId = dr["BookId"].ToString() })
            @Html.ActionLink("Update Book", "UpdateRecord", new { BookId = dr["BookId"].ToString() })
        </td>
    </tr>}
                    </table> } }
        </form>
    </div>
</body>
</html>